.slider {

  &__info {
  margin: 0 16px;
  height: 240px;

    @media (min-width: 768px) {
      height: auto;
      min-width: 720px;
    }
  }

  &__container {
    font-size: 14px;
    color: $grey-text;
    display: none;

    @media (min-width: 768px) {
    max-width: 95%;
    border: 0;
    display: grid;
    grid-template-columns: 348px 74px 98px 160px;
    align-items: center;
    height: auto;
    position: relative;
    padding: 16px;
    justify-content: space-between;
    }

    span {
      padding-left: 24px;
    }
  }

  &__title {
    &--below {
      padding-bottom: 0;
    }
  }

  &__item-sup {
    font-size: 14px;
    color: $grey-text;
    margin-bottom: 4px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__item-title {
    margin: 0;
    font-weight: 400;
    font-size: 0.8rem;
  }

  &__button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 120px;

    @media (min-width: 768px) {
      background-color: transparent;
      position: static;
      width: 100%;
    }
  }
}

.slider__wrapper-info {
  width: 100%;
  flex-direction: row;

  @media (min-width: 768px) {
    flex-direction: column;
  }
}

.swiper-slide__item-info {
  width: 260px;
  height: 170px;
  padding: 16px;
  font-size: 14px;
  color: $grey-text;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: $white;
  border: 1px solid $white-border;

  @media (min-width: 768px) {
    width: 95%;
    min-height: 64px;
    border: 0;
    display: grid;
    grid-template-columns: 348px 74px 98px 160px;
    align-items: center;
    height: auto;
    position: relative;
    padding: 0;
    justify-content: space-between;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      transform: translateX(-50%);
      bottom: 0;
      left: 50%;
      width: calc(100% - 48px);
      height: 1px;
      background-color: $grey;
    }
  }
}

.slider__item-container {
  margin-top: 4px;
  margin-bottom: 16px;
  color: $black;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    margin: 0 0 0 24px;
  }
}